version: '3.7'
services:
  redis:
      container_name: redis
      image: redis:6.2.6
      ports:
        - ${REDIS_PORT}:${REDIS_PORT}
      environment:
        - REDIS_PASSWORD=${REDIS_PASSWORD}
      volumes:
        - redis:/data
volumes:
  redis: